$primary:#0970B8;
$sub-primary:#0385e2;
$secondary:#6b6b6b;
$bg-color:#f8f8f8;
$successful:#0CA40E;
$bg-item:white;
$bg-sidebar:#302634;
$bg-item-sidebar:#201923;
$item-sidebar:#09d69f;
$bg-primary:#c7e4f7;