@import "./varibles";
@import "components";
@import "views";

html, body {
    width: 100%;
    background-color: $bg-color;
    min-height: 100%;
    position: relative;
}

.main{
    margin-left: 50px;
}