.home-services{
    text-align: start;
    .title{
        color: $primary;
    }
    .description{
        font-size: 10px;
        height: 20px;
    }
    button{
        border: 1.5px solid $successful;
        color: $successful;
        font-weight: 700;
        min-width: 90px;
        
    }
}