.home-services{
    text-align: start;
    .title{
        color: #0970B8;
    }
    .description{
        font-size: 10px;
        height: 20px;
    }
    button{
        border: 1.5px solid #0CA40E;
        color: #0CA40E;
        font-weight: 700;
        min-width: 90px;
        
    }
}