.item-art{
    &__image{
        img{
            width:60px;
            height:60px;
            border-radius:160px;
            border: 1px solid gray;
        }
    }
    &__title{
        color: gray;
    }
    &__description{
        color: gray;
        font-size: 10px;
    }
}