.navbar{
    width: 100%;
    background-color: white;
    padding-bottom: 0 !important;
    &__nav {
        
        top:0;
        display: flex;
        padding: 0;
        margin: 0;
    }
    &__item , &__house{
        list-style-type: none; 
        padding-left: 1.5vw;
    }

    &__item::before {
        content: "|";
        color: #c8c8c8;
        margin-right: 15px;
        display: inline-block;
        transform: rotate(30deg);
    }

    &__link,  &__house{
        color: gray;
        text-decoration: none;
        padding-bottom: 10px;
        text-decoration: none;
    }

    &__link:hover, &__link:focus-within{
        font-weight: bold;
        text-decoration: none;
        color: #0381D8;
        border-bottom: 3px solid #0381D8;
    }



    &__profile {
        left: 0;
        display:flex;
        position: relative;
        align-items: center;
        padding-right: 1.5vw;
        margin-bottom: 0.5rem;

        img{
            width:30px;
            height:30px;
            border-radius:160px;
        }
        
        button{
            border: none;
            background-color: none;
        }

        .dropdown{
            color: #0381D8;
        }

        &__content {
            display: none;
            position: absolute;
            width: 80%;
            overflow: auto;
            box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);

            a{
                display: block;
                color: #000000;
                padding: 5px;
                text-decoration: none;
            }
            
            a:hover{
                color: #FFFFFF;
                background-color: #0381D8;
            }
        }
    }
     
    &__profile:focus-within &__profile__content {
        display: block;
    }
}
