.sidebar-collapsed {
    width: 50px !important;

}

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $bg-sidebar;
  overflow-x: hidden;
  color: $bg-item;

  &__header {
      display: grid;
      grid: auto / repeat(2, 1fr);
      align-items: center;
      margin: 30px 30px 40px 15px;

      &__icon {
          justify-self: start;
      }

      &__logo {
          justify-self: end;
      }
  }

  &__content {
      
      &__title {
        display: block;
        text-transform: uppercase;
        width: 100%;
        text-align: start;
        padding: 0 0 5px 15px;
        color: $secondary;
        border-bottom: $secondary 1px solid;
      }

      &__menu {
          list-style: none;
          padding: 0;

          &__item-open {
             background-color: $bg-item-sidebar;

             .sidebar__content__menu__item__link {
                  color: $item-sidebar !important;
            }
         }

          &__item {
              display: grid;
              align-items: center;
              grid: auto / 10% 80% 10%;
              padding: 25px 10px 25px 15px;
              color: $bg-item;

              &__icon {
                  justify-self: start;
              }

              &__link {
                  text-align: start;
                  text-transform: uppercase;
                  color: $bg-item;
              }

              &__arrow {
                  justify-self: end;
              }

              &__submenu {
                  list-style: none;
                  grid-column: 1 / 4;
                  padding: 10px 0 0 5px;
                  justify-self: start;

                  &__item {
                      margin-top: 10px;
                      
                      &__link {
                          color: $bg-item;
                          text-decoration:none;
                      }
                  }

                  &__item::before {
                      color: $secondary;
                      margin-right: 30px;
                      content: "__";
                }  
              }
          }
      }
  }
}