.articulos{
    position: relative;
    height: 100%;
    &__contacto{
        .info{
            background-color: $bg-item;
        }
       
    }

    &__galeria{
        .cart-carousel{
            background-color: $bg-item;
            width: 100%;
            height: 310px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .carousel{
            width: 220px;
        }

        .cart-art{
            background-color: $bg-item;
            height: 400px;
            overflow-y:scroll;
        }
    }
}