.articulos{
    position: relative;
    height: 100%;
    &__contacto{
        .info{
            background-color: $bg-item;
        }
    }

    &__galeria{
        .cart-carousel{
            background-color: $bg-item;
            height: 310px;
            display: flex;
            justify-content: center;
        }
        &__card{
            width: 350px;
            &__navigation{
                .prev{
                    position: absolute;
                    z-index: 10;
                    top: 22%;
                    left: 50px;
                    font-weight: 700;
                }
                .next{
                    right: 50px;
                    position: absolute;
                    z-index: 10;
                    top: 22%;
                    font-weight: 700;
                }
                

                a{
                    color: $secondary;
                }
                
            }

            &__carousel{
                transition: all 0.3s ease;
                margin-top: 33px;
                .image{
                    transition: all 0.3s ease;
                    
                    width: 250px;
                    height: 250px;
                }

                .item {
                    position: absolute;
                    display: none;
                }
                  
                .main {
                    display: block;
                }
            }
        }

        .cart-art{
            background-color: $bg-item;
            height: 400px;
            overflow-y:scroll;
        }
    }
}