.home{
    background-color: #f8f8f8;
    height: 100%;
    &__services{
        text-align: start;
        .question{
            font-size: 40px;
            color: #0381D8;
            font-weight: 700;
            margin-left: 10px;
        }
        p{
            font-size: 12px;
        }

        &__chart{
            background-color: white;
        }
    }

    &__search{
        border: 1px solid #0970B8 ;
        &__select{
            align-items: center;
            height: 35px;
            border-right:1px solid #90cdf7 ;
            background-color: #c7e4f7;

            select{
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                width: 100%;
                padding: 7px 10px;
                outline: 0;
                font-size: 12px;
                color: #0381D8;
                border: none;
                background-color: #c7e4f7;
                cursor: pointer;
            }   
            
            .icon{
                position: absolute;
                right: 20px;
            }
            
        }
        &__input{
            width: 100%;
            border:none;
            border-left: none;
            height: 35px;
        }
        &__icon{
            display: grid;
            place-items: center;
            height: 35px;
            color: white;
            background-color: #0381D8;
        }
    }

    &__tramites{
        img{
            position: absolute;
            display: grid;
            place-items: center;
            height: 300px;
            margin-left: -50px;
            z-index: 1;

        }
        &__enunciado{
            position: relative;
            margin-top: 220px;
            height: 60px;
            background-color: rgba($color:#f8f8f8, $alpha: .9);
            z-index: 2;
            display: grid;
            place-items: center;

            span{
                font-size: 30px;
                color: #0970B8;
                font-weight: 700;
            }
        }

        &__detail{
            background-color: white;
            border-left: 2px solid #0970B8;
            text-align: start;

            span{
                color: #0970B8;
                font-weight: 700;
            }

            p{
                font-size: 10px;
            }
        }
    }
    
}